<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <nav>
           <img src="image/R.jpeg" alt="logo" class="img" />
        <div class="nav-title">
          <a href="/">Home |</a>
          <a href="/services">Our Services |</a>
          <a href="/contact">Contact Us </a>
        </div>
     
      </nav>
      <header>
        <h1>Welcome to Our Home Page</h1>
      </header>

      <section>
        <h2>Introduction</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          eos nisi nostrum qui aliquam molestias consectetur veritatis
          accusantium rerum exercitationem suscipit odit tempora voluptatum,
          animi repellendus, adipisci ea. Iusto, cumque! Velit nam explicabo
          nulla vel id enim, corrupti earum aspernatur sit suscipit atque
          laborum, iste fugit non quasi voluptatem dolore? Accusamus amet fugit
          dolorum obcaecati nemo quaerat blanditiis ullam quidem. Exercitationem
          esse repellat rerum soluta accusamus dolorem asperiores quis
          provident, alias aut suscipit aperiam, iste repudiandae cumque. Aut
          eum, molestiae illo, esse excepturi modi tempore earum fugit
          voluptatem accusantium fuga. Laborum inventore molestiae doloremque
          aperiam nemo dolor esse dolorem, qui atque quidem ad a eum placeat
          perspiciatis obcaecati porro sint blanditiis vero nam et veritatis eos
          vel? Ratione, recusandae eos? <a href="">Read More</a>
        </p>
        <h3> Citation</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          eos nisi nostrum qui aliquam molestias consectetur veritatis
          accusantium rerum exercitationem suscipit odit tempora voluptatum,
          animi repellendus, adipisci ea. Iusto, cumque! Velit nam explicabo
          nulla vel id enim, corrupti earum aspernatur sit suscipit atque
          laborum, iste fugit non quasi voluptatem dolore? Accusamus amet fugit
          dolorum obcaecati nemo quaerat blanditiis ullam quidem. Exercitationem
          esse repellat rerum soluta accusamus dolorem asperiores quis
          provident, alias aut suscipit aperiam, iste repudiandae cumque. Aut
          eum, molestiae illo, esse excepturi modi tempore earum fugit
          voluptatem accusantium fuga. Laborum inventore molestiae doloremque
          aperiam nemo dolor esse dolorem, qui atque quidem ad a eum placeat
          perspiciatis obcaecati porro sint blanditiis vero nam et veritatis eos
          vel? Ratione, recusandae eos? <a href="">Read More</a>
        </p>
        <a href="#" class="cta-button">Explore More</a>
      </section>
      <!-- <section>
        <h2>Our Services</h2>
        <p>Explore the variety of services we offer to meet your needs.</p>
        <a href="#" class="cta-button">View Services</a>
      </section> -->
    </main>

    <footer>&copy kola; 2023 All rights reserved.</footer>
  </body>
</html>
