<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Our Services</title>
  </head>
  <body>
    <main>
      <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
      </nav>

      <div class="h1serv"> 
        <h1 class="h1serv">Explore Our Services</h1>
      <p>We offer a variety of services to meet your needs.</p>
      <section class="services">
        <div class="servicebx">
          <h2>Gaming</h2>
        </div>
        <div class="servicebx">
          <h2>Trips</h2>
        </div>
        <div class="servicebx">
          <h2>Hunts</h2>
        </div>
        <div class="servicebx">
          <h2>Movies</h2>
        </div>
        <div class="servicebx">
          <h2>Hunger Games</h2>
        </div>
        <div class="servicebx">
          <h2>Mountain Climbing</h2>
        </div>
        <div class="servicebx">
          <h2>Shows</h2>
        </div>
        <div class="servicebx">
          <h2>Music</h2>
        </div>
      </section>
      </div>
    </main>
    <footer>&copy; 2023 All rights reserved.</footer>
  </body>
</html>
